.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
button{
padding: 7px 15px;
    font: inherit;
    cursor: pointer;
    background-color: #ff6d01;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    transition: .2s;
}